@model ParentCategory
<div class="container">
    <div class="card p-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Isactive"></label>
                <select asp-for="Isactive" class="form-control">
                    <option value="true">Aktif</option>
                    <option value="false">Pasif</option>
                </select>
                <span asp-validation-for="Isactive" class="text-danger"></span>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>
